<h1>This is the Pidb page</h1>
<br>
<%= link_to "view", :controller=>"pidb_control",:action=>"view"%>
<%= link_to "make_new", :controller=>"pidb_control",:action=>"new"%>


<!-- link_to "會顯示在html的字，隨便寫", :controller=>"controller_name", :action=>"action_name" -->